<h1>Cocktail details</h1>

<h3><%= @cocktail.name %></h3>
<% if @cocktail.photo.present? %>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% end %>

<div>
  <ul> 
    <% @doses.each do |dose| %>
    <li><%= dose.description %> <%= link_to "Delete", dose_path(dose), method: :delete %></li>
    <% end %>
  </ul>
</div>

<div class="add-dose">
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
</div>

<div>
<%= link_to "Back to cocktails list", cocktails_path %>
</div>


